---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/city":
    get:
      summary: Retrieve all cities
      tags:
      - City
      responses:
        '200':
          description: City found
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                  required:
                  - id
                  - name
    post:
      summary: Create a city
      tags:
      - City
      parameters: []
      responses:
        '200':
          description: Error creating location
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  error:
                    type: string
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
  "/api/v1/homes":
    get:
      summary: Retrieve all homes
      tags:
      - Homes
      responses:
        '200':
          description: Homes found
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    price:
                      type: number
                    image:
                      type: string
                    description:
                      type: string
                  required:
                  - id
                  - name
                  - price
                  - image
                  - description
    post:
      summary: Create a homes
      tags:
      - Homes
      parameters: []
      responses:
        '200':
          description: Error creating home
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  price:
                    type: number
                  image:
                    type: string
                  description:
                    type: string
                  error:
                    type: string
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                price:
                  type: number
                image:
                  type: string
                description:
                  type: string
              required:
              - id
              - name
              - price
              - image
              - description
  "/api/v1/homes/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Retrieve a home
      tags:
      - Homes
      responses:
        '200':
          description: Homes found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  price:
                    type: number
                  image:
                    type: string
                  description:
                    type: string
                required:
                - id
                - name
                - price
                - image
                - description
        '404':
          description: Homes not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    delete:
      summary: Delete a service
      tags:
      - Homes
      responses:
        '204':
          description: Homes deleted
        '404':
          description: Service not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  "/api/v1/reservations":
    get:
      summary: Retrieve all reservations
      tags:
      - Reservations
      responses:
        '200':
          description: Reservations found
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                    city_id:
                      type: integer
                    home_id:
                      type: integer
                    start_date:
                      type: string
                      format: date-time
                    end_date:
                      type: string
                      format: date-time
                  required:
                  - id
                  - city_id
                  - home_id
                  - start_date
                  - end_date
    post:
      summary: Create a reservation
      tags:
      - Reservations
      parameters: []
      responses:
        '200':
          description: Error creating reservation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  city_id:
                    type: integer
                  home_id:
                    type: integer
                  start_date:
                    type: string
                    format: date-time
                  end_date:
                    type: string
                    format: date-time
                  error:
                    type: string
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                city_id:
                  type: integer
                home_id:
                  type: integer
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type: string
                  format: date-time
              required:
              - id
              - city_id
              - home_id
              - start_date
              - end_date
  "/api/v1/reservations/{id}":
    get:
      summary: Retrieve a reservation
      tags:
      - Reservations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Reservation found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  city_id:
                    type: integer
                  home_id:
                    type: integer
                  start_date:
                    type: string
                    format: date-time
                  end_date:
                    type: string
                    format: date-time
                required:
                - id
                - city_id
                - home_id
                - start_date
                - end_date
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    delete:
      summary: Delete a reservation
      tags:
      - Reservations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Reservation deleted
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  "/api/v1/users":
    get:
      summary: Retrieve all users
      tags:
      - Users
      responses:
        '200':
          description: Users found
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                    username:
                      type: string
                    email:
                      type: string
                  required:
                  - id
                  - username
                  - email
servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: localhost:3000
