@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    color: #000;
  }

  50% {
    color: #f00;
  }

  100% {
    color: #000;
  }
}

@keyframes pulse2 {
  0% {
    color: #000;
  }

  50% {
    color: #009c24;
  }

  100% {
    color: #000;
  }
}

.animate-pulse {
  animation: pulse 2s ease-in-out infinite;
}

.animate-pulse2 {
  animation: pulse2 2s ease-in-out infinite;
}
